<%- include('./partials/header.ejs') %>
    <title>
        Home Page
    </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

<h1>HOMEE</h1>

<div class="container">
    <ul>
    <% for(var i = 0; i < 5; i++){ %>
        <div class="f">
                <div class="lfl">
                    <img src="<%= data["Poster"] %>">
                </div>
                <div class="rfl">
                    <%= data["Plot"] %>
                </div>
        </div>
        
    <% } %>
    </ul>
</div>

<%- include('./partials/footer.ejs') %>