<%- include('./partials/header.ejs') %>
    <title>
        Home Page
    </title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

<h1>HOMEE</h1>



<ul>
    <% for(var i = 0; i < 10; i++){ %>
        <li> <%= data["Plot"] %> </li>
    <% } %>
</ul>

<%- include('./partials/footer.ejs') %>