body{
    background-color: black;
    color: #eeeeee;
    font-family: monospace;
}

h1{
    text-align: center;
    width: 100%;
}

input{
    width: 80%;
    height: 10%;
    font-size: 1.5rem;
    text-align: center;
    background: none;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    color: #2c3e50;
    text-transform: uppercase;
}

input:focus{
    outline: none;
}

img{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

button{
    width: 15%;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #2c3e50;
}

#container{
    margin: 0 auto;
    width: 80%;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
}

#nav{
    display: flex;
    width: 100%;
}

.f{
    display: flex;
    justify-content: center;
}

.lfl{
    flex: 0.4;
    background:rgba(0,0,0,0);
    background: -webkit-linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rfl{
    flex: 0.6;
    margin-top: 2%;
    margin-right: 2%;
}

.title{
    text-align: center; 
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
}    

.left{
    flex: 0.5;
}

.right{
    flex: 0.5;
    
}

.content{
    font-size: 1.5rem;
    font-weight: 500;
}

::placeholder{
    color: #3c4e60;
    opacity: 0.6;
}

#nav{
    background: #eeeeee;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px;
}